@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: none; */
  /* border: none; */
}

body {
  margin-left: 50px;
  margin-top: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

label {
  margin: 10px 0;
}

input {
  background-color: gray;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  margin-left: 50px;
}

textarea {
  height: 100px;
  width: 250px;
  background-color: gray;
  color: white;
  margin-left: 50px;
  resize: none;
  border-radius: 5px;
}

.btn {
  width: 300px;
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 10px;
  text-transform: uppercase;
  transition: all 500ms ease;
  cursor: pointer;
}

.btn:hover {
  opacity: .9;
}

.side {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 70%;
}